@page
@model NodeGraphWeb.Pages.GraphModel
@{
    ViewData["Title"] = "Graph";
}

<h1>Graph Visualization</h1>

<div id="graphContainer"></div>

<button id="resetZoom">Reset Zoom</button>

<style>
    #graphContainer {
        border: 2px solid black;
        height: 80vh;
    }

    h1 {
        margin-bottom: 50px;
    }

    #resetZoom {
        padding: 5px 10px;
        font-size: 14px;
        cursor: pointer;
        background-color: gainsboro;
    }

    .hover-text {
        pointer-events: none;
        fill: black;
        font-size: 24px;
    }
</style>

<script src="https://d3js.org/d3.v6.min.js"></script>
<script>
    var graphData = @Html.Raw(Model.GraphJsonData); // inject the JSON data into the page
    // this utilizes the site.js file
</script>