@page
@model NodeGraphWeb.Pages.GraphModel
@{
    ViewData["Title"] = "Graph";
}

<h1>Graph Visualization</h1>

<div id="container">
    <div id="graphContainer"></div>
</div>
<div id="tooltip" style="position: absolute; visibility: hidden; background-color: #fff; border: 1px solid #000; padding: 5px; pointer-events: none;"></div>


<button id="resetZoom">Reset Zoom</button>

<style>
    #container {
        border: 2px solid black;
    }

    #graphContainer {
        width: 100%;
        height: 900px;
        position: relative;
    }

    h1 {
        margin-bottom: 50px;
    }

    #resetZoom {
        padding: 5px 10px;
        font-size: 14px;
        cursor: pointer;
        background-color: gainsboro;
    }

    .hover-text {
        pointer-events: none;
        fill: black;
        font-size: 24px;
    }

    #tooltip {
        z-index: 100;
        position: absolute;
    }
</style>

<script src="https://d3js.org/d3.v6.min.js"></script>
<script>
    var graphData = @Html.Raw(Model.GraphJsonData); // inject the JSON data into the page
    // this utilizes the site.js file
</script>

<script src="~/js/nodegraph.js"></script>