@page
@model IndexModel
@{
    ViewData["Title"] = "NodeGraph Project";
}

<div class="jumbotron">
  <h1 class="display-4">Welcome to the NodeGraph Project!</h1>
  <p class="lead">The NodeGraph Project is an open source project with the sole purpose of visualizing the internal domain structure of websites by plotting them as nodes on a graph.</p>
  <hr class="my-4">
  <p>Feel free to build your own node graph or check out our current 2023 node graph.</p>
  <a class="btn btn-primary btn-lg" href="Graph" role="button">Build your own</a>
  <a class="btn btn-primary btn-lg" href="Graph" role="button">2023 Node Graph</a>
</div>